---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import rssLogo from '../../assets/rss-logo.png';

const posts = await getCollection('blog');
---

<BaseLayout title='Blog'>
  <main class='w-lvw mt-10 grid px-5 md:px-20 lg:px-32 xl:px-40'>
    <a href='/' class='navlink w-fit mb-3 lg:mb-0'>back to home</a>
    <link
      rel='alternate'
      type='application/rss+xml'
      title="RSS Feed for Mickey's Blog"
      href='feed.xml'
    />
    <span class='flex flex-row gap-2 justify-center mb-12'
      ><h1 class='text-3xl font-extrabold font-mono'>Thoughts & Rituals</h1><a
        href='feed.xml'
        target='_blank'
        rel='noopener noreferrer'
        ><Image src={rssLogo} alt='The RSS logo.' class='size-7 navlink mt-1' /></a
      ></span
    >
    <ol class='relative mx-auto mb-10'>
      {
        posts.reverse().map((post) => (
          <li class='mb-10 ms-4'>
            <time class='mb-1 text-sm font-normal leading-none text-gray-500'>
              {post.data.pubDate.toString().slice(4, 16)}
            </time>
            <br />
            <a href={`/blog/${post.slug}/`} class='navlink text-xl font-semibold text-white'>
              {post.data.title}
            </a>
            <p class='mb-4 text-lg font-normal text-gray-300'>{post.data.description}</p>
          </li>
        ))
      }
    </ol>
  </main>
</BaseLayout>
