---
import Layout from '../layouts/Layout.astro';

// import Matrix from '../components/Matrix.astro';
---

<Layout title=`Mickey's Portfolio`>
  <main>
    <h1 class='text-3xl'>Coming soon!</h1>
    <!-- <img src='matrix.gif' alt='Matrix rain' class='h-56 w-60' /> -->
    <!-- <video src='matext2.mp4' autoplay loop class='h-3/6 w-4/6 rounded-2xl'></video> -->
    <!-- <Matrix /> -->

    <h1 id='about'>About</h1>

    <h1 id='work'>Projects</h1>
  </main>
</Layout>
