---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title=`Mickey's Portfolio`>
  <main class='mt-56 mb-32 px-5 md:px-20 lg:px-32 xl:px-96'>
    <section>
      <h1>I'm Mickey, like the mouse.</h1>
      <h2>You can find me online as <em>mickeymarse</em>.</h2>
      <p>
        Currently working as Front End Developer at <a href='https://os.uk' target='_blank'>OS</a>.
      </p>
      <p>
        I'm otherwise <em>developing my creative practice</em> combining storytelling, witchcraft and
        code.
      </p>
      <p>
        You can read about what I'm up to on <a href='/blog'>my blog</a>.
      </p>
      <p>Or you can follow me on other platforms.</p>
    </section>
    <section class='border-white border-solid border w-fit'>
      <a href='https://github.com/mickeymarse' target='_blank'>GitHub</a>
      <a href='https://social.gfsc.studio/@mickeymarse' target='_blank'>Mastodon</a>
      <a href='https://bsky.app/profile/mickeymarse.dev' target='_blank'>Bluesky</a>
      <a href='https://instagram.com/mickeymarse' target='_blank'>Instagram</a>
      <a href='mailto:mickeymarse@tuta.io' target='_blank'>Email</a>
    </section>
  </main>

  <style>
    h1 {
      @apply text-xl md:text-2xl font-sans font-bold mb-7;
    }
    h2 {
      @apply text-lg md:text-xl font-sans font-bold mb-5;
    }
    p {
      @apply text-lg font-mono mb-3;
    }
    em {
      @apply text-neonp;
    }
    a {
      @apply text-lg text-malach font-mono rounded border-4 border-transparent place-self-center hover:bg-neonp hover:text-back2;
    }
  </style>
</BaseLayout>
