---
import Layout from '../layouts/Layout.astro';
// import Matrix from '../components/Matrix.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>Hello World</h1>
    <!-- <img src='matrix.gif' alt='Matrix rain' class='h-56 w-60' /> -->
    <!-- <video src='matext2.mp4' autoplay loop class='h-3/6 w-4/6'></video> -->
  </main>
  <!-- <Matrix /> -->
</Layout>
