---
import { Icon } from 'astro-icon/components';
import TypedIntro from '../components/typewriter/TypedIntro.tsx';
import TypedProjects from '../components/typewriter/TypedProjects.tsx';
import TypedAbout from '../components/typewriter/TypedAbout.tsx';
import TypedTech from '../components/typewriter/TypedTech.tsx';
import TypedContact from '../components/typewriter/TypedContact.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
import RR from '../components/work/RR.astro';
import SOCS from '../components/work/SOCS.astro';
import SID from '../components/work/SID.astro';
import TMA from '../components/work/TMA.astro';
import MT from '../components/work/MT.astro';
import TechStack from '../components/TechStack.astro';
import About from '../texts/About.mdx';
import Contact from '../texts/Contact.mdx';
import { Image } from 'astro:assets';
---

<BaseLayout title=`Mickey's Portfolio`>
  <!-- TODO: Check issue with fade transition -->
  <main class='w-lvw grid px-5 md:px-20 lg:px-32 xl:px-40'>
    <section class='mb-80 mt-40 pt-20 place-self-center'>
      <Image
        src='/mickeymarse.png'
        alt='The handle @mickeymarse written in a mono font with two horizontal arrows pointing opposite directions respectively on top and bottom.'
        width='700'
        height='700'
        class='motion-safe:animate-pulse'
      />
    </section>
    <a href='/#work' class='mb-60 place-self-center'>
      <Icon
        name='mdi:chevron-down'
        title='Neon pink chevron arrow down icon.'
        class='text-neonp size-20 motion-safe:animate-pulse'
      />
    </a>

    <section id='work' class='mb-24 mt-40 grid'>
      <header class='section-header mb-24'>
        <p>Projects</p>
      </header>
      <article>
        <section class='grid grid-cols-2'>
          <MT />
          <TMA />
        </section>
        <SID />
        <RR />
        <SOCS />
      </article>
    </section>
    <section class='my-24 grid'>
      <header class='section-header'>
        <p>Tech Stack</p>
      </header>
      <TechStack />
    </section>
    <section id='about' class='my-24 grid'>
      <header class='section-header'>
        <p>Who Am I</p>
      </header>
      <About />
    </section>
    <section id='contact' class='my-24 grid'>
      <header class='section-header'>
        <p>Contact</p>
      </header>
      <Contact />
    </section>
  </main>
</BaseLayout>

<style>
  .section-header {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-sans font-bold place-self-end;
  }
</style>
