---
import TypedIntro from '../components/TypedIntro.tsx';
import TypedIntro3 from '../components/TypedIntro3.tsx';
import Layout from '../layouts/Layout.astro';

// import Matrix from '../components/Matrix.astro';
---

<Layout title=`Mickey's Portfolio`>
  <!-- TODO: Check issue with fade transition -->
  <main>
    <section class='flex justify-center mt-11'>
      <TypedIntro client:load />
    </section>
    <section>
      <TypedIntro3 client:load />
    </section>
    <!-- <img src='matrix.gif' alt='Matrix rain' class='h-56 w-60' /> -->
    <!-- <video src='matext2.mp4' autoplay loop class='h-3/6 w-4/6 rounded-2xl'></video> -->
    <!-- <Matrix /> -->

    <h1 id='about'>About</h1>

    <h1 id='work'>Projects</h1>
  </main>
</Layout>
