---
import Layout from '../layouts/Layout.astro';
// import Matrix from '../components/Matrix.astro';
import Matrix2 from '../components/Matrix2.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <Matrix2 />
    <h1 class='text-2xl font-bold'>Hello World</h1>
    <!-- <img src='matrix.gif' alt='Matrix rain' class='h-56 w-60' /> -->
    <!-- <video src='matext2.mp4' autoplay loop class='h-3/6 w-4/6 rounded-2xl'></video> -->
    <!-- <Matrix /> -->
  </main>
</Layout>
