---
import { Icon } from 'astro-icon/components';
import TypedIntro from '../components/typewriter/TypedIntro.tsx';
import TypedProjects from '../components/typewriter/TypedProjects.tsx';
import TypedAbout from '../components/typewriter/TypedAbout.tsx';
import TypedTech from '../components/typewriter/TypedTech.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
import RR from '../components/work/RR.astro';
import SOCS from '../components/work/SOCS.astro';
import SID from '../components/work/SID.astro';
import TechStack from '../components/TechStack.astro';
---

<BaseLayout title=`Mickey's Portfolio`>
  <!-- TODO: Check issue with fade transition -->
  <main class='grid px-40'>
    <section class='mt-60 mb-56 place-self-center'>
      <TypedIntro client:load />
    </section>
    <Icon
      name='ph:arrow-circle-down-light'
      title='Neon green circled arrow down icon.'
      class='text-neonp size-16 motion-safe:animate-pulse mb-24 place-self-center'
    />

    <section id='work' class='my-24 grid'>
      <header class='place-self-end mb-24'>
        <TypedProjects client:visible />
      </header>
      <article>
        <SID />
        <RR />
        <SOCS />
      </article>
    </section>
    <section id='about' class='my-24 grid'>
      <header class='place-self-end'>
        <TypedTech client:visible />
      </header>
      <TechStack />
    </section>
    <section id='about' class='my-24 grid'>
      <header class='place-self-end'>
        <TypedAbout client:visible />
      </header>
    </section>
  </main>
</BaseLayout>
