---
import { Icon } from 'astro-icon/components';
import Copyright from './Copyright.tsx';
---

<!-- FIXME: Make text and icons starting from the bottom. -->
<footer class='bottom-0 grid grid-rows-2 justify-center my-5 text-xs font-mono text-white'>
  <p class='font-mono inline-block text-white mx-auto'>
    Made with
    <Icon name='ph:pill' title='Neon green pill icon.' class='size-5 inline-block text-neonp' /> and
    <Icon
      name='devicon-plain:astro'
      title='Neon green version of the Astro logo.'
      class='size-5 inline-block text-neonp'
    />.
  </p>
  <Copyright />
</footer>
