---
import { Icon } from 'astro-icon/components';
---

<!-- FIXME: Make text and icons starting from the bottom. -->
<footer class='bottom-0 flex justify-center items-end my-5'>
  <p class='font-mono text-base inline-block text-white'>
    Made with
    <Icon name='ph:pill' class='size-5 inline-block text-malach' /> and <Icon
      name='devicon-plain:astro'
      class='size-5 inline-block text-malach'
    />.
  </p>
</footer>
