---
import Copyright from './Copyright.astro';
---

<footer class='bottom-0 grid grid-rows-2 justify-center my-5 text-xs font-mono'>
  <p class='font-mono inline-block mx-auto'>
    Made with <a href='https://astro.build' target='_blank'>Astro</a>. This website is being
    refurbished.
  </p>
  <Copyright />
</footer>
