---
import Matrix from '../components/Matrix.astro';
import Navbar from '../components/Navbar.tsx';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
import { Icon } from 'astro-icon/components';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Website/portfolio/blog of Mickey Serrapica' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class='bg-back text-white'>
    <Matrix />
    <Navbar client:load>
      <Icon
        slot='homeIcon'
        name='mdi:pound'
        title='Neon pink hash symbol.'
        class='motion-safe:animate-pulse'
      />
    </Navbar>
    <Sidebar />

    <slot />
    <Footer />
    <!-- TODO: Create a "white" palette for the text. -->
    <script is:inline src='https://code.jquery.com/jquery-3.7.0.min.js'></script>
  </body>
</html>
