---
import Matrix from '../components/Matrix.astro';
import Navbar from '../components/Navbar.tsx';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
import { Icon } from 'astro-icon/components';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Website/portfolio/blog of Mickey Serrapica' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
    <meta name='title' content={title} />
    {description && <meta name='description' content={description} />}
  </head>
  <body class='bg-back2 text-white'>
    <Matrix />
    <Navbar client:load />
    <Sidebar />
    <slot />
    <Footer />
    <!-- TODO: Create a "white" palette for the text. -->
    <script is:inline src='https://code.jquery.com/jquery-4.0.0-beta.min.js'></script>
    <style is:global>
      .navlink {
        @apply rounded border-4 border-transparent place-self-center hover:bg-neonp hover:text-back2 motion-safe:animate-pulse;
      }
    </style>
  </body>
</html>
