---
import { Image } from 'astro:assets';
import github from '../../../public/icons/github.png';
import video from '../../../public/icons/video.png';
import readingRoom from '../../../public/RR.png';
---

<article class='mb-24 px-20 flex flex-row'>
  <a href='https://reading-room-app.vercel.app/' target='_blank'>
    <Image
      src={readingRoom}
      alt='Screenshot of the login page of the Reading Room app in mobile and desktop views on a gradient pink background.'
      class='size-full rounded-lg hover:opacity-50'
    />
  </a>
  <section class='mx-5 my-0 w-8/12'>
    <h3 class='text-white text-3xl font-capa font-bold -mt-1'>Reading Room</h3>
    <p class='text-white text-xl font-mono font-extralight mt-3 mb-3'>
      Reading Room helps educators and parents guide children in developing healthy reading habits.
    </p>
    <a href='https://github.com/SchoolOfCode/Reading-Room-App' target='_blank' class='inline-block'>
      <Image
        src={github}
        alt='Neon version of the GitHub logo.'
        class='size-16 hover:motion-safe:animate-ping'
      />
    </a>
    <a href='https://www.youtube.com/watch?v=Cjjdsl9NvZU' target='_blank' class='inline-block'>
      <Image
        src={video}
        alt='Neon version of a standard video icon.'
        class='size-16 hover:motion-safe:animate-ping'
      />
    </a>
  </section>
</article>
